body {
    background-color: #87aa88; /* Sky blue */
    /* Use a custom shade between skyblue and the blue thread */
    /*background-color: #3F8EBA;  Custom blue color */
  }
  
  img {
    float: left;
  }
  
  .st {
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .btn {
    float: right;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: LightGrey;
  }
  
  /* Ensure the container holds floated elements */
  #list {
    overflow: auto;
    padding: 10px;
  }
  